<!DOCTYPE html>
<html lang="en">

<style>
.btn-group button {
    background-color: maroon; /* Green background */
    border: 1px solid gray; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: grey;
}
.column-left{ float: left; width: 45%; }
.column-right{ float: right; width: 55%; }
.somepadding{padding-bottom:250px;}
</style>
    <head>
   
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Create Summary</title>
        <link href="/LayoutScript/CSS/Style.css" rel="stylesheet" type="text/css" /> 
       
                
    </head>

<body>

<header class = "headerTop">
         <h1 align="center">
              DEGREE PLAN BUILDER
          </h1>
        </header>  
        
<div align="center" class="column-right">
                <h3>Courses selected will go here</h3>
                 _________________________________________________
                 <br><br>
                 <h4 class="somepadding">

			  CHNS 131


                 </h4>
                  <button id="Submit">Submit</button>
                </div>

        
        <div align="center" class="column-left">
                <h3>Select Major Requirement Courses</h3>
                 _________________________________________________
		<div class="container" >
		    <b>Choose a Department:</b>
		</div><br>
		<select size="1" id="Rank" title="" name="Rank">
		    
		    <div id="dept" class="">
      <% for (var i = 0; i < 38; i++) {%>
        <option id="course" value="<%= data[i].department_id %>">
        <%= data[i].deparment_name %>
          <% } %></option>
    </div>    
		</select>

		<br><br><br>
		<div class="container">
		    <b>Choose a Subject from the selected Department:</b>
		</div><br>


	<div class="container1">
	
			<div class="767">
				<select>
					<option>Reading  Education</option>
				</select>
			</div>
			<div class="990">
				<select>
					<option>English</option>
					<option>Writing</option>
				</select>
			</div>
			<div class="1160">
				<select>
					<option>African Languages</option>
					<option value="chinese">Chinese</option>
					<option>French</option>
					<option>Spanish</option> 
				</select>
			</div>
			<div class="1460">
				<select>
					<option>African Studies</option>
					<option>Geography</option>
					<option>History</option>
				</select>
			</div>
			<div class="1564">
				<select>
					<option>AD</option>
					<option>Child & Family</option>
					<option>Clothing/Textile</option>
					<option>Family Consumer Sciences</option>
					<option>Foods & Nutrition</option>
					<option>Human Servsv & Consumer Sci</option>
					<option>Nutritian</option>
				</select>
			</div>

	
	
	</div>
		<br><br>
 

               <div class="container" >
		    <b>Choose Courses from the selected Subject:</b>
		</div><br>
		
		
		<div class="container" >
  <div class= "component">

    <div id="" class="">
      <% for (var i = 0; i < 4; i++) {%>
        <input type="checkbox" id="course" value="<%= data[i].department_id %>">
        <%= data[i].deparment_name %>
          <% } %>
    </div>
  </div>
		
</div>

 <p id="demo"></p>

 


   
  <script src="/create.js"></script>
</body>
</html>
